$color: #000;

@mixin theme($color) {
  background-color: $color;
  box-shadow: 0 0 10px $color;
}

%fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

html, body {
  height: 100%;
  color: $color;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: yellow;
  @extend %fixed;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

section {
  min-height: 100vh;
  margin: 10px;
  @include theme(red)
}

@for $i from 0 through 2 {
  section:nth-child(n + #{$i}) {
    background-color: lighten(red, $i * 10%)
  }
}