.icon {
  @apply font-icomoon inline-block transition-colors;

    /* use !important to prevent issues with browser extensions that change fonts */
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-information:before {
  content: "\e900";
}
.icon-attachment:before {
  content: "\e901";
}
.icon-chat:before {
  content: "\e902";
}
.icon-mail:before {
  content: "\e903";
}
.icon-user:before {
  content: "\e904";
}
.icon-lock:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
.icon-bubble-speech:before {
  content: "\e908";
}
.icon-remove:before {
  content: "\e909";
}
.icon-power:before {
  content: "\e90a";
}
.icon-plane:before {
  content: "\e90b";
}
.icon-edit:before {
  content: "\e90c";
}
